.navbar{
   width: 100%;
   position: fixed;
   top:0;
   z-index: 9999;
   background:linear-gradient(to top, transparent 0%, rgb(0, 0, 0, 0.3) 50%);
}

.container{
    display: flex;
   justify-content: space-between;
   align-items: center; 
   margin: 0 20px;
}

.leftnav{
    display: flex;
    align-items: center;
    width: 100%;
}
.logo{
    width: 150px;
}
.navlist{
    display: flex;
}
.navlist li{
    margin: 0 10px;
}

.profile{
    width: 50px;
    border-radius: 100%;
}

.navright{
    display: flex;
    width: 100%;
    justify-content:flex-end;
    align-items: center;
}
.arrow{
    cursor: pointer;
    margin-left:5px ;
    transition: all 0.3s linear;
}


.arrowUp{
    transform: rotate(-180deg);
}

.profile_details{
    position: relative;
}

.profile_details_menu{
    position: absolute;
    top: 40px;
    left: -110px;
    padding: 10px 10px;
    width: 120px;
    border-radius: 8px;
    background-color: #0b0b0b;
    color: #ffff;
    text-align: center;
}

.profile_details_menu li:nth-child(2){
  background-color: #c53d17;
  padding: 10px 5px;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}

.profile_details_menu li:nth-child(2):hover{
    background-color: #aa3413;
}
